header h1 {
	font-size: 3em;
	text-align: center;
}

.navbar {
	padding:   0px  0px  0px  0px;
	margin:    0px  0px  0px  0px;
	position: absolute;
}

.navbar li {
	width: 200px;
	float: left;
	text-align: center;
	list-style: none;
	background-color: #2EA2D0;
}

.navbar a {
	padding:  10px  0px  10px  0px;
	margin:    0px  0px  0px  0px;
	text-decoration: none;
	color: #fff;
	display: block;
}

.navbar li:hover, a:hover {
	background-color: #066083;
}

.navbar li ul {
	display: none;
	height: auto;
	padding:   0px  0px  0px  0px;
}

.navbar li:hover ul {
	display: block;
}

.spacer {
	width: 100%;
	height: 42px;
	clear: both;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 800px;
	background-color: #EEE;
}

h1, h2, h3 {
	color: #83424F;
}

h1 {
	padding:  30px  0px  5px  0px;
	margin:    0px  0px  0px  0px;
}

h2 {
	padding:  20px  0px  5px  0px;
	margin:    0px  0px  0px  0px;
}

h3 {
	padding:  20px  0px  5px  0px;
	margin:    0px  0px  0px  0px;
}

p {
	text-indent: 20px;
	margin:    0px  0px  0px  0px;
	padding:   0px  0px  0px  0px;
}

.bodylist {
	list-style: none;
	margin:    0px 0px 0px 0px;
	padding:   0px 0px 0px 0px;
}

.bodylist li {
	margin:    0px 0px 0px 20px;
	padding:   0px 0px 0px  0px;
}

.license {
	background-color: #d2d2d2;
	border-radius: 10px;
	padding: 1px 10px;
}

.license p {
	text-indent: 0;
	font-family: Lucida Console, Monaco5, monospace;
	margin:    0px 0px 0px 0px;
	padding:   0px 0px 18px 0px;
}

.footer p {
	margin:    0px 0px 0px 0px;
	padding:   0px 0px 18px 0px;
}

.divTable{
	display: table;
	width: 800px;
}
.divTableRow {
	display: table-row;
}
.divTableCell {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableBody {
	display: table-row-group;
}