#license p {
    text-indent: 0;
    font-family: Lucida Console, Monaco5, monospace;
}

#license {
    background-color: #d2d2d2;
    border-radius: 10px;
    padding: 1px 10px;
}

#popsof {
    width: 390px;
    float: right;
}

#nutshell {
    width: 390px;
}

h3 {
    color: #83424F;
    margin-top: 0px;
}